body{
  margin: 0px;
}

.ingresar {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

body {
  background-image: url('/Resources/Fondo_Proyectos2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.ingresar .rectangle {
  position: absolute;
  width: 257px;
  height: 271px;
  top: 660px;
  left: 234px;
  background-color: #99aacc;
  transform: rotate(66.59deg);
}

.ingresar .overlap-group {
  position: absolute;
  width: 345px;
  height: 610px;
  top: 217px;
  left: 794px;
  background-color: #ffffff;
  border-radius: 6px;
}

.text-wrapper {
  top: 149px;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-2 {
  top: 57px;
  left: 104px;
  background: linear-gradient(180deg, rgb(207, 241, 255) 0%, rgb(149, 158, 241) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 20px;
  letter-spacing: 2.64px;
  line-height: normal;
  white-space: nowrap;
}

.ingresar .rectangle-2 {
  position: absolute;
  width: 284px;
  height: 40px;
  top: 185px;
  left: 22px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #c9c9c9d9;
}

.ingresar .input_email {
  width: 260px;
  height: 20px;
  left: 10px;
  top: 10px;
  outline: none;
  border: 0px;
}

.text-wrapper-3 {
  top: 257px;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.overlap {
  width: 284px;
  height: 40px;
  top: 293px;
  left: 22px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #c9c9c9d9;
}

.ingresar .input_pass{
  width: 210px;
  height: 20px;
  left: 10px;
  top: 10px;
  outline: none;
  border: 0px;
}
.element-eye-icon, #eye-icon.closed-eye {
  
  width: 25px; 
  height: 26px; 
  top: 10px;
  left: 250px;
  background-size: cover; 
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Puedes ajustar este valor según tu diseño */
  
}

.thumb {
  width: 22px;
  height: 22px;
  top: 346px;
  left: 23px;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex; 
  align-items: center;
  align-content: center;
  margin-right: 10px;
}

.ingresar .thumb:hover { /* Estilos para cuando se pase el cursor por el contenedor del checkbox */
  background-color: #99a4f2;
  display: flex;
  
}

input[type="checkbox"]{ /* Esconde el checkbox por defecto */
  display: none;
}

input[type="checkbox"] + label{ /* Estilos para el checkbox perzonalizado */
  position: relative;
  margin: 0px;
  width: 19px;
  height: 19px;
  top: 1.4px;
  left: 1.5px;
  border: 6px;
  background-color: #99a4f2;
  border: none;
  display: inline-block;
  border-radius: 4px;
  display: flex; 
  align-items: center;
}

.check{ /* Estilos para el icono de check */
  width: 20px;
  height: 10px;
  display: none;
}

.checkbox_login_recordar:checked + label .check { /* Mostrar el icono de check al hacer click */
  display: inline-block;
}

.text-wrapper-4 {
 
  top: 349px;
  left: 53px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-5 {
  top: 526px;
  left: 90px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  display: flex; 
  justify-content: center;
}

.text-wrapper-5:hover{ /* Mostrar el texto subrayado al pasar el mouse */
  text-decoration: underline;
}

.content-buttons{
  display: flex; 
  align-items: center;
  align-content: center;
  justify-content: center;
}

.div-wrapper {
  width: 284px;
  height: 40px;
  background-color: #959ef1;
  border-radius: 6px;
  border: none;
}

.div-wrapper:hover { /* Estilos para cuando el cursor pase por el boton ingresar */
  background-color: #3a517463; 
}

.text-wrapper-6 {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 14px;
  white-space: nowrap;
  text-align: center;
}

.overlap-2 {
  width: 284px;
  height: 40px;
  top: 472px;
  left: 23px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #959ef1;
  background-color: white;
  box-shadow: 0px 2px 2px #00000040;
}

.overlap-2:hover { /* Estilos para cuando el cursor pase por el boton registrate */
  background-color:#022f722a;
}

.text-wrapper-7 {
  top: 15px;
  left: 85px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #959ef1;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 14px;
  white-space: nowrap;
}

.ingresar .rectangle-3 {
  position: absolute;
  width: 340px;
  height: 371px;
  top: 68px;
  left: 160px;
  background-color: #caecfa;
  transform: rotate(61.08deg);
}

.ingresar .rectangle-4 {
  position: absolute;
  width: 355px;
  height: 305px;
  top: 70px;
  left: 1448px;
  background-color: #a8b7d6;
  transform: rotate(30.77deg);
}

.ingresar .rectangle-5 {
  position: absolute;
  width: 290px;
  height: 316px;
  top: 610px;
  left: 1451px;
  background-color: #8e99ff;
  transform: rotate(67.75deg);
}